.container
  .row
    .col-lg-10.col-md-8
      %h3.text-center Welcome to CleaningSchedule!
      %p
        This application connect clean company and client
        %br
        Client is able to add cleaning area and cleaning schedule
        %br
        Clean company is able to know and compile all clients cleaning schedule
        %br
        Start registration or login and use!